@charset "utf-8";

// fruit base
$base-font-color:#009148;
$base-font-gray-color:#999999;
$base-font-black-color:#555555;
$base-font-black-weight-color:#333333;
$base-font-lightblack-color:#cccccc;
$base-font-light-black-color:#f0f0f0;
$base-background-color:#eeeeee;
$base-font-yellow-color:#ffb135;
$base-font-lightyellow-color:#fcc815;
$base-header-color:#555;
$base-font-size:30px;
$base-color:#009148;
$base-light-color:#10c471;
$base-green-light-color:#00c662;
$base-green-heavy-color:#02994d;
$base-font-yellow-light-color:#fdc914;
$base-font-yellow-deep-color:#ca9b02;






$base-font-size:30px;
$base-form-control-width:700px;
$base-form-control-height:80px;
$base-btn-width:400px;
$base-btn-height:80px;
$base-login-bgcolor:#EEEEEE;
$base-btn-bgcolor:#FF9800;
$base-btn-light-bgcolor: #ffc30f;
$base-btn-bottom: 20px;
$base-btn-left: 25px;
$page-bg-color:#f7f7f7;
$form-border-weight-color: #BBBBBB;
$alert-bg-color: #f44336;
$base-input-color:#e7e7e7;
$full-screen-btn-width:690px;

$pagel-bg-color:#eaeaea;
$white-bg-color:#fff;
$product-name-color: #484848;
$product-time-color: #666;
$form-border-color: #dedede;
$button-bg-color: #e8ba7b;
$longteng-font-color: #e8ba7b;
$address-font-color:#e5b36f;
$dianshu-bg-color: #fdf3e5;
$alert-bg-color: #f44336;
$address-user-color: #333333;
$address-bg-color:#fcf7f0;
$addAds-font-color:#dddddd;


